Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-107709745779"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "Navii-Master"
files:
  "/tmp/server.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-107709745779/certs/1_www.naviapp.co_bundle.crt
  "/tmp/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-107709745779/certs/ssl.key
  "/tmp/dhparam.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-107709745779/certs/dhparam.pem

container_commands:
  move_cert:
    command: "mv /tmp/server.crt /etc/pki/tls/certs/"
  move_key:
    command: "mv /tmp/server.key /etc/pki/tls/certs/"
  move_dhparam:
    command: "mv /tmp/dhparam.pem /etc/pki/tls/certs/"
