<!DOCTYPE HTML>
<!-- This is mostly just a placeholder for a more complex webpage with sanitation and whatnot-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activity Entry Webtool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .col1 {
            width: 25%;
        }
        .col2 {
            width: 75%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>Create New Activity</h1>
<form id="entry" action="#" th:action="@{/activity}" th:object="${activity}" method="post">
    <table style='width:100%'>
        <tr>
            <td class='col1'>Start Time:</td>
            <td class='col2'><input type='datetime-local' th:field="*{startTime}"/></td>
        </tr>
        <tr>
            <td class='col1'>End Time:</td>
            <td class ='col2'><input type='datetime-local' th:field="*{endTime}"/></td>
        </tr>
        <tr>
            <td class='col1'>Itinerary ID:</td>
            <td class ='col2'><input type='text' th:field="*{itineraryId}"/></td>
        </tr>
        <tr>
            <td class='col1'>Attraction ID:</td>
            <td class ='col2'><input type='text' th:field="*{attractionId}"/></td>
        </tr>
    </table>
<input id="subButton" type="button" value="Submit"/><input type="reset" value="Reset"/>
</form>
<div class="result"></div>
<script th:inline="javascript">
    $("#subButton").click(function() {
        $.ajax({
            type: 'POST',
            crossDomain: true,
            url: 'https://localhost:8443/activity',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify($('#entry').serializeObject()),
            success: function(data) {
                $('.result').html('<p>Added activity successfully.</p>');
            },
            error: function(data) {
                $('.result').html('<p>Error adding activity.</p>');
            }
        });
        return true;
    });

    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</body>
</html>