<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Itinerary Entry Webtool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .col1 {
            width: 25%;
        }
        .col2 {
            width: 75%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>Create New Itinerary</h1>
<form action="#" th:action="@{/itinerary}" th:object="${itinerary}" method="post">
    <table style='width:100%'>
    <tr>
        <td class='col1'>Description:</td>
        <td class='col2'><input type='text' th:field="*{description}"/></td>
    </tr>
    <tr>
        <td class='col1'>Price:</td>
        <td class ='col2'><input type='text' th:field="*{price}"/></td>
    </tr>
    <tr>
    <td class='col1'>Duration:</td>
    <td class ='col2'><input type='text' th:field="*{duration}"/></td>
    </tr>
    <tr>
        <td class='col1'>Author ID:</td>
        <td class ='col2'><input type='text' th:field="*{authorId}"/></td>
    </tr>
</table>
<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>