<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attraction Entry Webtool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .col1 {
            width: 25%;
        }
        .col2 {
            width: 75%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>Create New Attraction</h1>
<form id="entry" enctype="application/json" action="#" th:action="@{/attraction}" th:object="${attraction}" method="post">
    <table style='width:100%'>
    <tr>
        <td class='col1'>Name:</td>
        <td class='col2'><input type='text' th:field="*{name}"/></td>
    </tr>
    <tr>
        <td class='col1'>Price:</td>
        <td class ='col2'><input type='text' th:field="*{price}"/></td>
    </tr>
    <tr>
        <td class='col1'>Purchase:</td>
        <td class ='col2'><input type='text' th:field="*{purchase}"/></td>
    </tr>
    <tr>
    <td class='col1'>Duration:</td>
    <td class ='col2'><input type='text' th:field="*{duration}"/></td>
    </tr>
    <tr>
        <td class='col1'>Blurb (link):</td>
        <td class ='col2'><input type='text' th:field="*{blurbUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Photo (link):</td>
        <td class ='col2'><input type='text' th:field="*{photoUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Location:</td>
        <td class ='col2'><input type='text' th:field="*{location}"/></td>
    </tr>
</table>
<input id="subButton" type="button" value="Submit"/><!--<input type="submit" value="Submit" />--><input type="reset" value="Reset"/>
</form>
<div class="result"></div>
<script th:inline="javascript">
    $("#entry").click(function() {
        $.ajax({
            type: 'POST',
            crossDomain: true,
            url: 'https://localhost:8443/attraction',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify($('#entry').serializeObject()),
            success: function(data) {
                $('.result').html('<p>Added attraction successfully.</p>');
            },
            error: function(data) {
                $('.result').html('<p>Error adding attraction.</p>');
            }
        });
        return true;
    });

    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</body>
</html>