<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attraction Entry Webtool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .col1 {
            width: 25%;
        }
        .col2 {
            width: 75%;
        }
    </style>
</head>
<body>
<h1>Create New Attraction</h1>
<form action="#" th:action="@{/attraction}" th:object="${attraction}" method="post">
    <table style='width:100%'>
    <tr>
        <td class='col1'>Attraction Name:</td>
        <td class='col2'><input type='text' th:field="*{name}"/></td>
    </tr>
    <tr>
        <td class='col1'>Price:</td>
        <td class ='col2'><input type='text' th:field="*{price}"/></td>
    </tr>
    <tr>
    <td class='col1'>Duration:</td>
    <td class ='col2'><input type='text' th:field="*{duration}"/></td>
    </tr>
    <tr>
        <td class='col1'>Blurb (link):</td>
        <td class ='col2'><input type='text' th:field="*{blurbUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Photo (link):</td>
        <td class ='col2'><input type='text' th:field="*{photoUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Location:</td>
        <td class ='col2'><input type='text' th:field="*{location}"/></td>
    </tr>
</table>
<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>