<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attraction Entry Webtool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .col1 {
            width: 25%;
        }
        .col2 {
            width: 75%;
        }
    </style>
</head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<body>
<h1>Create New Attraction</h1>
<form enctype="application/json" action="#" th:action="@{/attraction}" th:object="${attraction}" method="post">
    <table style='width:100%'>
    <tr>
        <td class='col1'>Name:</td>
        <td class='col2'><input type='text' th:field="*{name}"/></td>
    </tr>
    <tr>
        <td class='col1'>Price:</td>
        <td class ='col2'><input type='text' th:field="*{price}"/></td>
    </tr>
    <tr>
        <td class='col1'>Purchase:</td>
        <td class ='col2'><input type='text' th:field="*{purchase}"/></td>
    </tr>
    <tr>
    <td class='col1'>Duration:</td>
    <td class ='col2'><input type='text' th:field="*{duration}"/></td>
    </tr>
    <tr>
        <td class='col1'>Blurb (link):</td>
        <td class ='col2'><input type='text' th:field="*{blurbUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Photo (link):</td>
        <td class ='col2'><input type='text' th:field="*{photoUri}"/></td>
    </tr>
    <tr>
        <td class='col1'>Location:</td>
        <td class ='col2'><input type='text' th:field="*{location}"/></td>
    </tr>
</table>
<input id="subButton" type="button" value="Submit"/><!--<input type="submit" value="Submit" />--><input type="reset" value="Reset"/>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    $("#subButton").click(function() {
        var payload = {};
        var attraction = /*[[${attraction.name}]]*/ 'attraction';
        console.log(attraction);

        payload.name = attraction.name;
        payload.location = attraction.location;
        payload.photoUri = attraction.photoUri;
        payload.blurbUri = attraction.blurbUri;
        payload.price = attraction.price;
        payload.purchase = attraction.purchase;
        payload.duration = attraction.duration;
        $.ajax({
            type: 'POST',
            crossDomain: true,
            url: 'https://localhost:8443/attraction',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(payload)
        });
        return true;
    });
    /*]]>*/
</script>
</body>
</html>